#title{
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
}
.imagenes{
    width: 350px;
}
.Contenido,h2{
    font-size: 50px;
    color: whitesmoke;
    
}
#contenido, p{
    font-size: 50px;
    color: black ;
    background-color: grey;
}
#contenido, h2{
    font-size: 40px;
    color: floralwhite;
}
.Contenido,h3{
    font-size: 40px;
    color: floralwhite;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    width: auto;
    size: 45px;

}
h1{
    color: antiquewhite;
    font-size: 25px;
}
#cabeza{
    color: gray;
    size: 45px;
}

body{
    background-image:url("background.gif") ;
}
ul li{
    display: inline-block;
    padding: 0px,20px;
    font-size: 25px;

}

a{
    color:aquamarine;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    background-color: black;
}
#Rodrigo{
    background-color: grey;
    color: black;
}
#Uriel{
    background-color: teal;
    color: black;
}
#Joshua{
    background-color:black; 
    color:white;
}
header{
    background-color: black;
    border: 5px gray solid;
    border-radius: 5px;
    max-width: 100%;
}
